<div>
	<mat-chip-list
		class="display-inline-block">
		<mat-chip
			*ngFor="let selectedDate of selectedDates"
			[removable]="true"
			(removed)="removeDate(selectedDate)">
			{{ selectedDate | date }}
			<mat-icon matChipRemove>cancel</mat-icon>
		</mat-chip>
	</mat-chip-list>
	<input
		style="width: 0; padding: 0; border: 0;"
		[matDatepicker]="picker"
		(dateChange)="onDateChange($event)">
	<mat-datepicker
		#picker>
	</mat-datepicker>
	<button
		(click)="picker.open()"
		mat-icon-button>
		<mat-icon class="font-size-20">
			calendar_today
		</mat-icon>
	</button>
</div>
