<div
	class="multiple-date-picker">
	<mat-form-field>
		<input
			placeholder="Select a date"
			matInput
			[matDatepicker]="picker"
			(dateChange)="onDateChange($event)">
		<mat-datepicker-toggle
			matSuffix
			[for]="picker">
		</mat-datepicker-toggle>
		<mat-datepicker
			#picker>
		</mat-datepicker>
	</mat-form-field>
	<mat-chip-list>
		<mat-chip
			*ngFor="let selectedDate of selectedDates"
			[removable]="true"
			(removed)="removeDate(selectedDate)">
			{{ selectedDate | date }}
			<mat-icon matChipRemove>cancel</mat-icon>
		</mat-chip>
	</mat-chip-list>
	<div [hidden]="selectedDates.length > 0">
		<mat-icon
			style="vertical-align: text-bottom;">
			info
		</mat-icon>
		<span
			style="vertical-align: text-bottom;">
			No Date Selected
		</span>
	</div>
</div>
